.Background{
    background: linear-gradient(90deg,  #000000 10%, rgba(59,44,31,1) 100%);
    stroke: #000;
    padding: 100px 0px;
    position: relative;
    box-shadow: 0px 4px 4px #000000;
}
.linearStyle{
    position: absolute;
    top: 0;
    right: 0;
}
.heroSecHeading{
    font-size: 58px !important;;
    color: #fff;
    font-family: Poppins!important;
    font-weight: 500!important;
    padding-bottom: 20px;
}
.bannerSecPara{
    color:#fff;
    font-size: 24px!important;
    font-weight: Regular!important;
    font-family: Poppins!important;
    letter-spacing: -1%!important;
    padding-bottom: 30px;
}


/* media query */

    @media (min-width: 577px) {
        .break {
          display: inline;
        }
        
        
      }

      @media (max-width: 577px) {
        .linearStyle{
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 0;
        }
        .breakk {
            display: inline;
          }
          .leftside{
            width: 350px!important;
            height: 351px!important;
            background-size: cover;
            background-position: center;
          }
          .bannergirlimage{
                     background-size: cover;
                      background-position:center;
                      width: 280px;
                      height:340px;
          }
          .fireImage img{
            position: absolute;
            top: -19px;
            left: -15px;
          }
          .spinachImage img{
            position: absolute;
            top: 10px;
            left: 12px;
            width: 150px;
            height: 150px;
            width: auto;
            z-index: 9999;
          }
          .Food1Image img{
            position: absolute!important;
            top: -149px!important;
            left: -37px!important;
            z-index: 888!important;
            width: 110px;
            height: 110px;
          }
          .Food2Image img{
            position: absolute!important;
            top: -207px!important;
            left: -37px!important;
            z-index: 888!important;
            width: 100px;
            height: 100px;
          }
          .Food3Image img{
            position: absolute!important;
            top: -186px!important;
            left: -6px!important;
            z-index: 888!important;
            width: 106px;
            height: 97px;
          }
          .Food4Image img{
            position: absolute!important;
            top: -146px!important;
            left: 18px!important;
            z-index: 888!important;
            width: 82px;
            height: 82px;
          }
          .ratingCard {
            position: absolute!important;
            top: 27%!important;
            left: -3%!important;
            width: 120px!important;
            height: 48px!important;
            background-size:cover;
            
          }
          .ratingCard img{
            width: 25px!important;
            height: 25px!important;
            background-size:cover;
            
          }
          .breakk{
            display: none;
          }
          .offercardImgBox {
            background: linear-gradient(#151515,#151515)padding-box,
            linear-gradient(90deg ,#F54748,#FDC55E)border-box;
            top: 45px!important;
            left: 50%!important;
          }
          .offercardButton{
            bottom: 84px!important;
          }
          
         
      }

      @media  (max-width: 769px){
        .direction{
            display: flex!important;
            flex-direction: column-reverse!important;
            justify-content: center;
            align-items: center;
          }
          .spinachImage img{
            position: absolute;
            top: 15px;
            left: 20px;
          }
          .Food1Image img{
            position: absolute;
            top: 0px;
            left: -88px;
            z-index: 888;
           
          }
          .Food2Image img{
            position: absolute;
            top: 0px;
            left: -88px;
            z-index: 888;
           
          }
          .Food3Image img{
            position: absolute;
            top: 15px;
            left: 0px;
            z-index: 888;
           
          }
          .Food4Image img{
            position: absolute;
            top: 10px;
            left: 40px;
            z-index: 888;
           
          }
          .ratingCard {
            position: absolute!important;
            top: 27%!important;
            left: -7%!important;
            background-size:cover;
            
          }
          .offercardButton{
            bottom: 125px!important;
          }
      }
      @media (max-width:361px){
        .leftside{
            width: 310px!important;
            height: 320px!important;
            background-size: cover;
            background-position: center;
          }
          .bannergirlimage{
                     width: 260px;
                      height:320px;
                      bottom: 13px!important;
          }
          .fireImage img{
            position: absolute;
            top: -19px;
            left: -15px;
          }
          .spinachImage img{
            position: absolute;
            top: 1px;
            left: 10px;
            width: 100px;
            height: 100px;
          }
          .Food1Image img{
            position: absolute;
            top: -167px!important;
            left: -42px;
            z-index: 888;
            width: 100px;
            height: 100px;
          }
          .Food2Image img{
            position: absolute!important;
            top: -225px!important;
            right: -62px;
            z-index: 888;
            width: 95px;
            height: 95px;
          }
          .Food3Image img{
            position: absolute!important;
            top: -215px!important;
            right: -107px;
            z-index: 888;
            width: 106px;
            height: 97px;
          }
          .Food4Image img{
            position: absolute!important;
            top: -160px!important;
            right: -95px;
            z-index: 888;
            width: 79px;
            height: 79px;
          }
          .ratingCard {
            position: absolute!important;
            top: 27%!important;
            left: -7%!important;
            width: 120px!important;
            height: 48px!important;
            background-size:cover;
            
          }
          .ratingCard img{
            width: 25px!important;
            height: 25px!important;
            background-size:cover;
            
          }
          .Background{
            background: linear-gradient(to top,  #000000 10%, rgba(59,44,31,1) 205%);
            padding-bottom: 30px;
          }
          .linearStyle{
            position: absolute!important;
            top: 0%!important;
            right: 0%!important;
            height: 700px!important;
        }
        .offersBackground{
          background-color: #000000;
          padding: 0px 0px;
        }
        .offercardImgBox {
          background: linear-gradient(#151515,#151515)padding-box,
          linear-gradient(90deg ,#F54748,#FDC55E)border-box;
          top: 45px!important;
          left: 50%!important;
        }
        .offercardButton{
          bottom: 82px!important;
        }
      }
      @media  (max-width: 426px){
        .offercardButton{
          bottom: 82px!important;
        }
       
      }
      @media (min-width: 376px) and (max-width: 426px){
        .offercardRate{
          right: 103px!important;
          top: 82px !important;;
        }
      }

      /* Media query */

.input{
    color: #fff;
}

.leftside{
    position: relative;
   width: 550px;
   height: 550px;
   border: 15px solid transparent ;
   background: linear-gradient(#151515,#151515)padding-box,
   linear-gradient(90deg ,#F54748,#FDC55E)border-box;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   /* clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%); */
}
.fireImage{
  position: absolute;
  top: 20px;
  left: 48%;
}
.spinachImage{
  position: absolute;
  top: 53px;
  left: 60%;
}
.Food1Image{
  position: absolute;
  top: 395px;
  left: 1.6%;
  z-index: 888;
}
.Food2Image{
  position: absolute;
  top: 550px;
  left: 25.7%;
  z-index: 888;
}
.Food3Image{
  position: absolute;
  top: 526px;
  left: 55.7%;
  z-index: 888;
}
.Food4Image{
  position: absolute;
  top: 400px;
  left: 74.7%;
  z-index: 888;
}
.offersBackground{
  background-color: #000000;
  padding: 80px 0px;
}
.offercard{
 border-radius: 20px!important;
}


.offercardImgBox {
  background: linear-gradient(#151515,#151515)padding-box,
  linear-gradient(90deg ,#F54748,#FDC55E)border-box;
}
.offercardImg{
  width: 155px;
  height: 155px;
}
